.logged-home-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.create-post-btn {
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}

.collaborate-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.collaborate-btn:hover {
  background: #0056b3;
}

.collaborated-btn {
  background: #28a745;
  color: white;
  border: none;
  cursor: not-allowed;
}

.declined-btn {
  background: #dc3545;
  color: white;
  border: none;
  cursor: not-allowed;
}
